<div class="pull-right" style="margin-right: 10px;">
  <%= link_to t('ui.h1.logout'), sign_out_path %>
</div>
<div align="center" style="color: green">
  <h3>Welcome <%= current_user.email %></h3>
</div>

